.service-slider {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    gap: 20px;
    padding: 20px;
    scrollbar-width: none;
    position: relative;
  }
  
  .service-slider::-webkit-scrollbar {
    display: none;
  }
  
  .slide-item {
    flex: 0 0 25%;
    max-width: 25%;
    height: 220px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
  }
  
  .slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .title-link {
    color: #fff;
    /* background-color: rgba(0, 0, 0, 0.6); */
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
  }
  
  .slide-item:hover img {
    filter: blur(3px);
  }
  
  .slide-item:hover .overlay {
    opacity: 1;
  }
  