.experience-section {
    display: flex;
    justify-content: center;
    padding: 60px 80px;
    background: #000;
    color: #fff;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
  }
  
  .experience-left {
    flex: 1 1 50%;
  }
  
  .experience-heading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .experience-description {
    font-size: 16px;
    color: #ccc;
    line-height: 1.6;
  }
  
  .experience-right {
    flex: 1 1 40%;
    display: flex;
    /* gap: 40px; */
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .stat {
    perspective: 1000px;
  }
  
  .stat-inner {
    background: #111;
    padding: 20px 30px;
    border-radius: 8px;
    transform: rotateY(90deg);
    transform-origin: left;
    transition: transform 1s ease;
    min-width: 160px;
    text-align: center;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  }
  
  .stat.flip .stat-inner {
    transform: rotateY(0deg);
  }
  
  .stat-number {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
  }
  
  .stat-label {
    font-size: 14px;
    color: #aaa;
  }
  .stat-box {
      text-align: center;
  }