.service-container {
    position: relative;
    width: 100%;
  }
  
  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 80px;
    height: 20vh;
    background-color: #181818;
    color: white;
    opacity: 0.2;
    position: sticky;
    top: 0;
    transition: background 0.5s ease, opacity 0.5s ease;
    border-bottom: 1px solid #444;
  }
  
  .service-tn {
    display: flex;
    gap: 20px;
  }
  
  .section.active {
    opacity: 1;
    background-color: #181818;
  }
  
  .text {
    max-width: 60%;
  }
  
  .text .number {
    font-size: 25px;
    margin-bottom: 10px;
    color: #ccc;
  }
  
  .text .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .text .services,
  .text .subservices {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    font-size: 14px;
    color: #ccc;
  }
  
  .image img {
    max-width: 150px;
    height: auto;
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
  }
  
  /* Mobile Responsive */
  @media (max-width: 768px) {
    .section {
      flex-direction: column;
      align-items: flex-start;
      padding: 60px 20px;
    }
  
    .text {
      max-width: 100%;
      margin-bottom: 20px;
    }
  
    .image img {
      max-width: 100px;
    }
  }